@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

object[type="image/svg+xml"] {
    background-color: transparent;
}

header {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    align-items: center;
}

.menuToggle {
    display: flex;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
}

.menuToggle button {
    text-decoration: none;
    transition: all 0.3s ease;
}

.menuToggle input {
    display: block;
    width: 56px;
    height: 56px;
    position: absolute;
    right: -3px;
    top: 0;
    cursor: pointer;
    /* hide this */
    opacity: 0;
    /* and place it over the hamburger */
    z-index: 2;
    -webkit-touch-callout: none;
}

.menuToggle .burger-line {
    position: relative;
    display: block;
    height: 4px;
    background: #89B6C3;
    border-radius: 3px;
    z-index: 1;
}

.menuToggle input:checked ~ .menuItem {
    opacity: 1;
    visibility: visible;
    transform: none;
}

.menuItem {
    position: absolute;
    top: 50px;
    opacity: 0;
    visibility: hidden;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0 0;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.5s ease, visibility 0.1s ease;
}

.menuItem li {
    padding: 0;
    font-size: 12px;
    border-radius: 6px;
    min-height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 640px) {
    .menuItem {
        top: 127px;
    }

    .menuToggle input {
        top: 63px;
    }
}

@media (min-width: 1280px) {
    .menuItem {
        top: 90px;
    }

    .menuToggle input {
        top: 20px;
    }
}
